.compatibility {
	width: 5.7em;
	background: var(--ltgray);
	padding: 0.417em;
	border-radius: 0.5em;
	display: grid;
	grid-gap: 0.4em;
	display: none;
	position: absolute;
	z-index: 1;
	left: 25%;
	top: 80%
}

.show {
	display: block;
}