.compatibility {
	width: 5.7em;
	background: var(--blue);
	padding: 0.417em;
	border-radius: 0.5em;
	display: none;
	position: absolute;
	z-index: 1;
	left: 25%;
	top: 80%;
	border: 0.075em solid darkblue;
	box-shadow: 0.1em 0.1em 0.1em grey;
}

.show {
	display: block;
}

.compatibilityContainer {
	display: grid;
	grid-gap: 0.2em;
}

.compatibilityTitle {
	width: 100%;
	display: grid;
	justify-content: center;
}

.buttonWrapper {
	margin: 0;
	width: 100%;
	display: grid;
	justify-items: end;
}