.pane {
	display: none;
	margin-bottom: 0.3em;
}

.showPane {
	display: block;
}

.title {
	width: 100%;
	display: grid;
	justify-content: center;
}

.contentContainer {
	display: grid;
	grid-gap: 0.2em;
}

.contentContainer > p {
	font-size: 16px;
	margin: 0;
	margin-left: 0.21em;
}