.fishTank {
	display: grid;
	grid-template-columns: repeat(auto-fit, 8.33em);
	justify-content: center;
	grid-gap: 0.4em;
	width: 90%;
	justify-self: center;
	margin-top: 2.5em;
}

.fishContainer {
	position: relative;
    display: inline-block;
}