.fish {
	width: 100%;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: auto 1fr auto;
	border-radius: 1em;
	box-sizing: border-box;
	border: 0.08em solid var(--blue);
}

.fish:hover {
	color: var(--yellow);
	cursor: pointer;
}

.selected {
	color: var(--yellow);
	border: 0.08em solid var(--yellow);
	box-sizing: border-box;
}

.compatible-yes {
	background-color: var(--green);
	border: 0.08em solid var(--green);
}

.compatible-maybe {
	background-color: var(--yellow);
	border: 0.08em solid var(--yellow);
}

.compatible-no {
	background-color: var(--red);
	border: 0.08em solid var(--red);
}

.compatible-yes:hover, .compatible-maybe:hover, .compatible-no:hover {
	color: darkblue;
}

.selected:hover {
	color: var(--yellow);
}

.fish > img {
	width: 2em;
	margin: 0.2em;
}

.fish > .name {
	align-self: center;
	justify-self: left;
}

.small {
	height: 2.6em;
	font-size: 0.75em;
	grid-gap: 0.1em;
}