.fish {
	width: 100%;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: auto 1fr;
	border-radius: 1em;
}

.fish:hover {
	color: yellow;
	cursor: pointer;
}

.selected {
	background: yellow;
}

.compatible-yes {
	background-color: lightgreen;
}

.compatible-maybe {
	background-color: orange;
}

.compatible-no {
	background-color: red;
}

.selected:hover, .compatible-yes:hover, .compatible-maybe:hover, .compatible-no:hover {
	color: darkblue;
}

.fish > img {
	width: 2em;
	margin: 0.2em;
}

.fish > .name {
	align-self: center;
	justify-self: left;
}