.footer {
	background-color: var(--blue);
	font-size: 0.75em;
	display: grid;
	justify-content: center;
	align-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5em;
	z-index: 2;
}

a {
	color: darkblue;
	text-decoration: none;
}

.footer a:hover {
	color: var(--yellow);
	cursor: pointer;
}