.home {
	display: grid;
}

.homeGoToAbout {
	justify-self: end;
	margin: 0.5em;
	cursor: pointer;
	text-decoration: none;
	color: darkblue;
}

.homeGoToAbout:hover {
	color: var(--yellow);
	cursor: pointer;
}

.homeTitle {
	justify-self: center;
	margin: 0;
	margin-top: 0.25em;
}

.homeSubTitle {
	justify-self: center;
	margin: 0;
	margin-top: 0.5em;
}