@font-face {
    font-family: 'fionaregular';
    src: url('../assets/fonts/Fiona/fiona-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Fiona/fiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--blue: #33C7FF;
	--ltgray: #FAFAFA;
	--black: #181b21;
	--red: #FF634B;
	--yellow: #F9FD6E;
	--green: lightgreen;
}

body {
	background: var(--blue);
	color: darkblue;
	margin: 0;
	box-sizing: border-box;
	color: darkblue;
	font-family: 'fionaregular';
	font-size: 24px;
}

@media only screen and (max-width: 975px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px) {
    body {
        font-size: 12px;
    }
}