@font-face {
    font-family: 'fionaregular';
    src: url('../assets/fonts/Fiona/fiona-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Fiona/fiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--blue: #33C7FF;
	--ltgray: #FAFAFA;
	--black: #181b21;
	--sideMargin: 10px;
	--gridGap: 20px;
}

body {
	background: var(--blue);
	color: var(--black);
	margin: 0;
	box-sizing: border-box;
	color: darkblue;
	font-family: 'fionaregular';
	font-size: 24px;
}
